<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row gradient-custom-2 aniamteBg">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center bg-dark ">
        <a class="navbar-brand brand-logo" href="index.html"><img src="assets/images/logo.png" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logoSm.png" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
        <h5 class="ml-3 mt-2"> Forget Password </h5>
    </div>
</nav>
<div class="p-4">
    <div class="row">
        <div class="col-md-12 grid-margin col-xl-12 ">
            <button class="btn btn-primary btn-rounded mb-1" (click)="BackToList()">
                <!-- <span class="spinner-border spinner-border-sm me-1" ></span> -->
                <i class="icon-arrow-left"></i>
                Login
            </button>
            <form *ngIf="!loading" [formGroup]="form">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-3 col">
                                <label class="form-label">Username*</label>
                                <input type="text" formControlName="username" class="form-control"
                                    placeholder="Enter Username"
                                    [ngClass]="{ 'is-invalid': f['username'].touched && f['username'].errors, 'is-valid': f['username'].valid }" />
                                <div *ngIf="f['username'].touched && f['username'].errors" class="invalid-feedback">
                                    <div>{{getErrorMessage('username','Username',true,"Invalid data available in First
                                        Name")}}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col">
                                <label class="form-label">Email Address*</label>
                                <input type="text" formControlName="emailId" class="form-control" placeholder="Email ID"
                                    [ngClass]="{ 'is-invalid': f['emailId'].touched && f['emailId'].errors, 'is-valid': f['emailId'].valid }" />
                                <div *ngIf="f['emailId'].touched && f['emailId'].errors" class="invalid-feedback">
                                    <div>{{getErrorMessage('emailId','EMail Address',true,"Invalid data available in
                                        EmailID")}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-right">
                        <button class="btn btn-primary mr-2" [disabled]="resend" (click)="Generateotp()">
                            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                            Generate OTP
                        </button>

                        <button class="btn btn-secondary" (click)="clearForm()">
                            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                            Reset
                        </button>
                    </div>

                    <div class="card-body" *ngIf="otpView">
                        <div class="row">

                            <div class="col-md-2">
                                <label class="form-label">One Time Password*</label>
                                <input type="text" formControlName="otp" class="form-control" placeholder="OTP"
                                    maxLength="6"
                                    [ngClass]="{ 'is-invalid': f['otp'].touched && f['emailId'].errors, 'is-valid': f['otp'].valid }" />
                                <div *ngIf="f['otp'].touched && f['otp'].errors" class="invalid-feedback">
                                    <div>{{getErrorMessage('otp','OTP',true,"Invalid data available in
                                        EmailID")}}
                                    </div>
                                </div>
                                <div><span>OTP is valid for only 10 Minutes.</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 text-right" style="padding-top: 30px;">
                                <button type="button" class="btn btn-primary mr-2" (click)="ValidateOTP()">
                                    Validate OTP
                                </button>
                            </div>
                            <div class="col-md-1 text-left" style="padding-top: 30px;" >
                                <button type="button" class="btn btn-warning mr-2" (click)="Resend()" [disabled]="resend">
                                    Resend OTP
                                </button>
                            </div>
                             <div class="col-md-2 text-left" style="padding-top: 40px;" *ngIf="resend">
                                Resend OTP in {{timeLeft}} Seconds.
                            </div>
                        </div>
                        <hr>
                        <div  *ngIf="validate">
                            <div class="row">
                            <div class="col-md-3">
                                <label class="form-label">Enter New Password*</label>
                                <input type="text" formControlName="newPassword" class="form-control"
                                    placeholder="Enter New Password" maxLength="6"
                                    [ngClass]="{ 'is-invalid': f['newPassword'].touched && f['newPassword'].errors, 'is-valid': f['newPassword'].valid }" />
                                <div *ngIf="f['newPassword'].touched && f['newPassword'].errors"
                                    class="invalid-feedback">
                                    <div>{{getErrorMessage('newPassword','New Password',true,"Invalid data available in
                                        New Password")}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary mr-2" (click)="ResetPass()" >
                                    Reset New Password
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>