<div class="p-4">
    <div class="row">
        <div class="col-md-12 grid-margin col-xl-12 ">
            <button class="btn btn-primary btn-rounded mb-1" (click)="BackToList()">
                <!-- <span class="spinner-border spinner-border-sm me-1" ></span> -->
                <i class="icon-arrow-left"></i>
                Back To List
            </button>
            <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-3 col">
                                <label class="form-label">Username*</label>
                                <input type="text" formControlName="username" class="form-control"
                                    placeholder="Enter Username"
                                    [ngClass]="{ 'is-invalid': f['username'].touched && f['username'].errors, 'is-valid': f['userFName'].valid }" />
                                <div *ngIf="f['username'].touched && f['username'].errors" class="invalid-feedback">
                                    <div>{{getErrorMessage('username','Username',true,"Invalid data available in First
                                        Name")}}
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col">
                                <label class="form-label">*</label>
                                <input type="text" formControlName="emailId" class="form-control" placeholder="Email ID"
                                    [ngClass]="{ 'is-invalid': f['emailId'].touched && f['emailId'].errors, 'is-valid': f['emailId'].valid }" />
                                <div *ngIf="f['emailId'].touched && f['emailId'].errors" class="invalid-feedback">
                                    <div>{{getErrorMessage('emailId','EMail Address',true,"Invalid data available in
                                        EmailID")}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-right">
                        <button [disabled]="!form.valid" class="btn btn-primary mr-2">
                            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                            Submit
                        </button>

                        <button [disabled]="!form.valid" class="btn btn-secondary" (click)="clearForm()">
                            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>