<div class="p-4">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary btn-rounded mb-1" (click)="BacktoList()">
                <!-- <span class="spinner-border spinner-border-sm me-1" ></span> -->
                <i class="icon-arrow-left"></i>
                Back To List
            </button>
            <div class="card">
                
                <form *ngIf="!loading" [formGroup]="form" #mediaform="ngForm" (ngSubmit)="onSubmit()">
                    <div class="card-body">
                        <div class="row">
                            
                            <div class="mb-4 col">
                         
                                    <label class="form-label lable-bold">Select Media Upload Type*</label>
                                    <select required [(ngModel)]="mediatype" class="form-control form-control-sm"
                                        (change)="onUploadTypeChange($event)" formControlName="mediatype">
                                        <option [ngValue]="null" disabled>Choose your Upload Type</option>
                                        <option *ngFor="let type of FileTypes" [ngValue]="type">{{type}}</option>
                                    </select>
                            </div>
                            <div class="mb-4 col form-group">
                                <cm-multiselect-auto-complt [inputData]="_inputVmsData" [label]="label1"  
                                [dropdownSettings]="dropdownSettingsVms" (selectedItem)="getSelectedVms($event,1)"
                                (deSelectedItem)="getSelectedVms($event,0)"></cm-multiselect-auto-complt>
                            </div>

                        </div>
                        <div class="row">

                            <div class="mb-4 col-6 form-group" *ngIf="isFileTypeTEXT">
                                <label class="form-label lable-bold">Media Name*</label>
                                <input type="text" formControlName="mediaName" [(ngModel)]="MediaName"
                                    maxlength="25" class="form-control"
                                    [ngClass]="{ 'is-invalid': f['mediaName'].touched && f['mediaName'].errors, 'is-valid': f['mediaName'].valid }"
                                    placeholder="Enter Media Name (Max 30 chars)" />
                                <div *ngIf="f['mediaName'].touched && f['mediaName'].errors" class="invalid-feedback">
                                    <div>{{getErrorMessage('mediaName','mediaName',true,"Invalid data available in Media
                                        Name or Media Name greater than 30 chars) ")}}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mb-3 col-6 form-group" *ngIf="isFileTypeTEXT">
                                <label class="form-label lable-bold">Media Text *</label>
                               
                                <input type="text" formControlName="MediaTextName" class="form-control"
                                    [ngClass]="{ 'is-invalid': f['MediaTextName'].touched && f['MediaTextName'].errors}"
                                    placeholder="Media Text" ngModel />
                                <div *ngIf="f['MediaTextName'].touched && f['MediaTextName'].errors , 'is-valid': f['MediaTextName'].valid "
                                    class="invalid-feedback">
                                    <div>{{getErrorMessage('MediaTextName','MediaTextName',true,"Invalid data available
                                        in Media TextName")}}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 col-6 form-group" *ngIf="isFileTypeTEXT">
                                <label class="form-label lable-bold">Select Font Name *</label>
                                <select class="form-control" formControlName="FontName">
                                    <option value="" disabled selected>Select an Option</option>
                                     <option *ngFor="let mediaplayer of _inputPlayerData.data" value="{{mediaplayer.value}}">{{mediaplayer.displayName}}</option>
                                </select>
                            </div>








                            <div class="mb-4 col-6 form-group" *ngIf="isFileTypeURL">
                                <label class="form-label lable-bold"> Name*</label>
                                <input type="text" formControlName="mediaName" [(ngModel)]="MediaName"
                                    maxlength="25" class="form-control"
                                    [ngClass]="{ 'is-invalid': f['mediaName'].touched && f['mediaName'].errors, 'is-valid': f['mediaName'].valid }"
                                    placeholder="Enter Media Name (Max 30 chars)" />
                                <div *ngIf="f['mediaName'].touched && f['mediaName'].errors" class="invalid-feedback">
                                    <div>{{getErrorMessage('mediaName','mediaName',true,"Invalid data available in Media
                                        Name or Media Name greater than 30 chars) ")}}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mb-3 col-6 form-group" *ngIf="isFileTypeURL">
                                <label class="form-label lable-bold">URL *</label>
                               
                                <input type="text" formControlName="MediaTextName" class="form-control"
                                    [ngClass]="{ 'is-invalid': f['MediaTextName'].touched && f['MediaTextName'].errors}"
                                    placeholder="Media Text" ngModel />
                                <div *ngIf="f['MediaTextName'].touched && f['MediaTextName'].errors , 'is-valid': f['MediaTextName'].valid "
                                    class="invalid-feedback">
                                    <div>{{getErrorMessage('MediaTextName','MediaTextName',true,"Invalid data available
                                        in Media TextName")}}
                                    </div>
                                </div>
                            </div>


                            <div class="mb-3 col form-group" *ngIf="isFileTypeIMAGE">
                                <table class="table table-striped table-bordered table-sm hover tr-dsn">
                                    <thead class="thead-dark">
                                        <tr class="tr-dsn">
                                            <th colspan="3">
                                                <span style="font-size: large;">Medias</span>
                                            </th>
                                            <th>
                                                <input class="form-control col-8 float-right mt-2 mb-2" type="text" formControlName="MediaSearch" (input)="SearchMediaName()"
                                                placeholder="Search Media by Name" />
                                            </th>
                                        </tr>
                                        <tr class="tr-dsn">
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Media_Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tr *ngFor="let m of listOfMedialist" class="tr-dsn">
                                        <td>{{m.id}}</td>
                                        <td>{{m.displayName}}</td>
                                        <td>  <input type="text" [placeholder]="m.displayName"
                                            maxlength="25" class="form-control" 
                                            placeholder="Enter Media Name (Max 25 chars)" />
                                        <div *ngIf="f['mediaName2'].touched && f['mediaName2'].errors" class="invalid-feedback">
                                            <div>{{getErrorMessage('mediaName2','mediaName2',true,"Invalid data available in Media
                                                Name or Media Name greater than 30 chars) ")}}
                                            </div>
                                        </div></td>
                                    
                                          
                                        <td>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button placement="top" delay="500" (click)="ViewMedia(m)"
                                                        type="button" class="btn btn-inverse-primary btn-sm">
                                                        <i class="icon-eye"></i>
                                                    </button>
                                                </div>
                                                <div class="col-md-6 chkCls">
                                                    <input class="form-check-input" style="background-color: #FF5722;"
                                                        (change)="onCheckBoxChange($event,m)" type="checkbox"
                                                        [checked]="m.isChecked" id="defaultCheck1">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="mb-3 col form-group" *ngIf="isFileTypeGIF">
                                <table class="table table-striped table-bordered table-sm hover tr-dsn">
                                    <thead class="thead-dark">
                                        <tr class="tr-dsn">
                                            <th colspan="3">
                                                <span style="font-size: large;">Medias</span>
                                            </th>
                                            <th>
                                                <input class="form-control col-8 float-right mt-2 mb-2" type="text" formControlName="MediaSearch" (input)="SearchMediaName()"
                                                placeholder="Search Media by Name" />
                                            </th>
                                        </tr>
                                        <tr class="tr-dsn">
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Media_Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tr *ngFor="let m of listOfMedialist" class="tr-dsn">
                                        <td>{{m.id}}</td>
                                        <td>{{m.displayName}}</td>
                                        <td>  <input type="text" formControlName="mediaName2" 
                                            maxlength="25" class="form-control"
                                           
                                            placeholder="Enter Media Name (Max 25 chars)" />
                                        <div *ngIf="f['mediaName2'].touched && f['mediaName2'].errors" class="invalid-feedback">
                                            <div>{{getErrorMessage('mediaName2','mediaName2',true,"Invalid data available in Media
                                                Name or Media Name greater than 30 chars) ")}}
                                            </div>
                                        </div></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button placement="top" delay="500" (click)="ViewMedia(m)"
                                                        type="button" class="btn btn-inverse-primary btn-sm">
                                                        <i class="icon-eye"></i>
                                                    </button>
                                                </div>
                                                <div class="col-md-6 chkCls">
                                                    <input class="form-check-input" style="background-color: #FF5722;"
                                                        (change)="onCheckBoxChange($event,m)" type="checkbox"
                                                        [checked]="m.isChecked" id="defaultCheck1">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="mb-3 col form-group" *ngIf="isFileTypeVIDEO_FILE">
                                <table class="table table-striped table-bordered table-sm hover tr-dsn">
                                    <thead class="thead-dark">
                                        <tr class="tr-dsn">
                                            <th colspan="3">
                                                <span style="font-size: large;">Medias</span>
                                            </th>
                                            <th>
                                                <input class="form-control col-8 float-right mt-2 mb-2" type="text" formControlName="MediaSearch" (input)="SearchMediaName()"
                                                placeholder="Search Media by Name" />
                                            </th>
                                        </tr>
                                        <tr class="tr-dsn">
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Media_Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tr *ngFor="let m of listOfMedialist" class="tr-dsn">
                                        <td>{{m.id}}</td>
                                        <td>{{m.displayName}}</td>
                                        <td>  <input type="text" formControlName="mediaName2" 
                                            maxlength="25" class="form-control"
                                           
                                            placeholder="Enter Media Name (Max 25 chars)" />
                                        <div *ngIf="f['mediaName2'].touched && f['mediaName2'].errors" class="invalid-feedback">
                                            <div>{{getErrorMessage('mediaName2','mediaName2',true,"Invalid data available in Media
                                                Name or Media Name greater than 30 chars) ")}}
                                            </div>
                                        </div></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button placement="top" delay="500" (click)="ViewMedia(m)"
                                                        type="button" class="btn btn-inverse-primary btn-sm">
                                                        <i class="icon-eye"></i>
                                                    </button>
                                                </div>
                                                <div class="col-md-6 chkCls">
                                                    <input class="form-check-input" style="background-color: #FF5722;"
                                                        (change)="onCheckBoxChange($event,m)" type="checkbox"
                                                        [checked]="m.isChecked" id="defaultCheck1">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-right">
                        <button [disabled]="!form.valid" class="btn btn-primary mr-2" >
                            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                            Submit
                        </button>

                        <button  [disabled]="!form.valid" class="btn btn-secondary" (click)="clearForm()">
                            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                            Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal" role="dialog" style="background-color: black">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>
                    <h5>{{fileName}}</h5>
                </span>
                <button type="button" #closebutton class="close" data-dismiss="modal"
                    (click)="removeModal()">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <img [src]="url" *ngIf="format==='image' && url" height="200"> <br />
                <video [src]="url" *ngIf="format==='video' && url" height="200" controls></video> <br />
            </div>
        </div>
    </div>
</div>