<div class="p-4">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary btn-rounded mb-1" (click)="BacktoList()">
                <!-- <span class="spinner-border spinner-border-sm me-1" ></span> -->
                <i class="icon-arrow-left"></i>
                Back To List
            </button>

            <div class="card">
                <form [formGroup]="form" #mediaform="ngForm">
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-4 form-group">
                                <label class="form-label">Select Controller</label>
                                <select class="form-control form-control-sm" [(ngModel)]="SelectedControllerId"
                                    (change)="getSelectedVms($event)" formControlName="VmsController">
                                    <option [ngValue]="null" disabled>Choose Controller</option>
                                    <option *ngFor="let type of inputVmsData.data" [ngValue]="type.value">
                                        {{type.displayName}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-6 col-md-4 col">
                                <div class="mb-6 col form-group">
                                    <label class="form-label">Schedule Name*</label>
                                    <input type="text" formControlName="schedulename" [(ngModel)]="name"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': f['schedulename'].touched && f['schedulename'].errors}"
                                        placeholder="Enter Schedule Name" />
                                </div>

                                <div *ngIf="f['schedulename'].touched && f['schedulename'].errors , 'is-valid': f['schedulename'].valid "
                                    class="invalid-feedback">
                                    <div>{{getErrorMessage('schedulename','schedulename',true,"Invalid data available
                                        in Schedule Name")}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col">
                                <cm-multiselect-auto-complt [inputData]="_inputPlayerData" [label]="label2"
                                    [dropdownSettings]="dropdownSettingsVms"
                                    (selectedItem)="getSelectedPlayer($event,1)"
                                    (deSelectedItem)="getSelectedPlayer($event,0)"></cm-multiselect-auto-complt>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-md-1"></div>
                            <label class="col-md-2 text-right mt-2">From Date: </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input formControlName="globalFromDt" appBlockCopyPaste
                                        (keypress)="keyPress($event)" class="form-control" placeholder="dd-mm-yyyy"
                                        name="dp" [minDate]="minDate" ngbDatepicker #dFromDatePub="ngbDatepicker" />
                                    <button class="btn btn-outline-primary border-primary"
                                        (click)="dFromDatePub.toggle()" type="button">
                                        <i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                            <ngb-timepicker formControlName="globalFromTm" [seconds]="true" class="col-4 float-left"
                                (focusout)="ValidateTime()" />

                        </div>
                        <div class="row mb-2">
                            <div class="col-md-1"></div>

                            <label class="col-md-2 text-right mt-2">To Date: </label>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <input formControlName="globalToDt" appBlockCopyPaste (keypress)="keyPress($event)"
                                        class="form-control" placeholder="dd-mm-yyyy" name="dp" [minDate]="minDate"
                                        ngbDatepicker #dToDatePub="ngbDatepicker" />
                                    <button class="btn btn-outline-primary border-primary" (click)="dToDatePub.toggle()"
                                        type="button">
                                        <i class="fa fa-calendar"></i></button>
                                </div>
                            </div>

                            <ngb-timepicker formControlName="globalToTm" [seconds]="true" class="col-4 float-left"
                                (focusout)="ValidateTime()" />

                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                             

                                <button [disabled]="!this.form.valid" ngClass="btn btn-secondary" (click)="OnSaveDetails()"
                                    style="width: 20%;" formControlName="SaveDetails" class="form-control">Save
                                    Details
                                    <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>