<div class="modal-header bgTable" style="border-radius: 15px 15px 0 0!important;">
    <h5 class="modal-title text-uppercase mr-5">{{type}}</h5>
    <!-- <h5 class="modal-title text-uppercase mr-5">{{ this.id != null ? 'Edit User':'Add New User'}} </h5>  -->
    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close" (click)="passBack()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div *ngIf="mediaAudit">
    <div class="card">
        <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        File Name
                    </th>
                    <th>
                        File Type
                    </th>
                    <th class="text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of medias">
                    <td> {{row.displayName}}</td>
                    <td> {{row.fileType}}</td>
                    <td class="text-center"> <button class="btn btn-primary btn-sm " (click)="ViewMedia(row)">
                            View/Play
                        </button> </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card">
        <div class="row">
            <div *ngIf="isImg" class="col-md-12">
                <img src="{{imgSrc}}" height="400" width="600">
            </div>
            <div *ngIf="isVdo" class="col-md-12" style="border-color: black;border-style: solid;">
                <video id="my_video_1" controls (click)="toggleVideo()" #videoPlayer style="width: 288px;height: 320px;"
                autoplay loop muted playsinline="true" webkit-playsinline="true"  [src]="vdoUrl" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-md-10 text-right">
                <textarea placeholder="Remarks" [(ngModel)]="remarks" class="form-control"></textarea>
            </div>
            <div class="col-md-1 text-right">
                <button class="btn btn-success" (click)="Operation(1)">
                    Approve
                </button>
            </div>
            <div class="col-md-1 text-right">
                <button class="btn btn-danger" (click)="Operation(0)">
                    Reject
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="playlistAudit">
    <div class="card">
        <table class="table table-striped table-bordered table-sm row-border hover" style="width: 100%;">
            <tr>
                <th>
                    Playlist Name : {{plName}}
                </th>
            </tr>
        </table>
    </div>

    <div class="card" [style.height.px]="data.plHeight + 100">
        <div class="row">
            <div *ngIf="isImg" class="col-md-12">
                <img src="{{imgSrc}}" height="400" width="600">
            </div>

            <div *ngIf="isVdo" class="col-md-12" style="height: 250px;width:auto">
                <!-- <vg-player>
                    <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
                        <source src="http://localhost/mediaLists/Playlists/1/1/1_1.mp4" type="video/mp4">
                        <source src="https://localhost/mediaLists/Playlists/1/1/1_2.mp4" type="video/mp4">
                        <source src="https://localhost/mediaLists/Playlists/1/1/1_3.mp4" type="video/mp4">
                    </video>
                </vg-player> -->
                <video
                width="auto"
                height="250px"
                autoplay
                [src]="plPreviewSrc"
              ></video>

                <!-- <div *ngFor="let node of blocks; let i" class="resizable-widget node-cls"
                    [style.height.px]="node.height" [style.width.px]="node.width" [style.left.px]="node.left"
                    [style.top.px]="node.top">
                    <video
                    width="100%"
                    height="100%"
                    autoplay
                    on-ended="alertEndVideo(node, i)"
                    [src]="node.src"
                  ></video> 
                </div>-->
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-md-10 text-right">
                <textarea placeholder="Remarks" [(ngModel)]="remarks" class="form-control"></textarea>
            </div>
            <div class="col-md-1 text-right">
                <button class="btn btn-success" (click)="Operation(1)">
                    Approve
                </button>
            </div>
            <div class="col-md-1 text-right">
                <button class="btn btn-danger" (click)="Operation(0)">
                    Reject
                </button>
            </div>
        </div>
    </div>
</div>