<div class="p-4">
<div class="row">

  <div class="col-xl-12  grid-margin" id="listView">
    <div class="card  border-0">
      <div class="card-body p-2 bgTable" style="border-radius: 0 0;">
        <div class="card-header">
          <button class="btn btn-primary text-right" (click)="BackToList()">
            Back
          </button>
        </div>

        <div class="table-responsive">
          <table class="table table-striped text-center mb-0 table-light" id="vmsList" datatable>
            <thead>
              <tr>
                <th width="5%">Sr No </th>
                <th width="5%">VMS ID </th>
                <th width="10%">VMS Name </th>
                <th width="10%">Zone Name </th>
                <th width="10%">IP Address </th>
                <th width="10%">Current Playlist </th>
                <th width="10%">Network Status</th>
                <!-- <th width="10%">Display Status</th> -->
                <th width="30%">Screenshot</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ls of listViewData; let i = index">
                <td> {{i+1}} </td>
                <td> {{ls.vmsId}} </td>
                <td> {{ls.vmsDescription}} </td>
                <td> {{ls.zoneName}} </td>
                <td> {{ls.ipAddress}} </td>
                <td> {{ls.playingPlaylist}} </td>
                <td> <label *ngIf="ls.networkStatus==1" class="badge bgActiveStatus active-badge"> <i
                      class="fa fa-circle glowing" style="font-size: 8px;"></i> Active</label>
                  <label *ngIf="ls.networkStatus==0" class="badge bg-secondary btn-outline-secondary border"><i
                      class="fa fa-circle" style="font-size: 8px;"></i> InActive</label>
                </td>
                <td *ngIf="ls.onOff == true"><label class="badge bgActiveStatus active-badge"> <i
                      class="fa fa-circle glowing" style="font-size: 8px;"></i> Active</label></td>
                <!-- <td *ngIf="ls.onOff == false"><label class="badge bg-secondary btn-outline-secondary border"><i
                      class="fa fa-circle" style="font-size: 8px;"></i> InActive</label></td> -->
                <td><button type="button" class="btn btn-primary btn-sm"><i
                  class="fa fa-eye"></i> View</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
</div>