<div class="p-4">
    <div class="row">

        <div class="col-md-12">

            <div class="card border-0  pb-0 bgTable">

                <div class="card-body p-2">
                    <!-- <button class="btn btn-success btn-rounded text-dark float-left" (click)="OpenModal(0)">
                        <span class="spinner-border-sm me-1"></span>
                        <i class="icon-plus"></i> Add New
                    </button> -->
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label" style="color: white;">Select Type</label> <br/>
                            <select class="form-control" (change)="TypeChange()" [(ngModel)]="selectedType">
                                <option selected>All</option>
                                <option>Publish</option>
                                <option>Playlist</option>
                                <option>Media</option>
                                <option>Network</option>
                            </select>
                        </div>
                        <div class="col-md-9">
                            <button type="button" class="btn btn-link float-right" (click)="MarkAsRead()">
                                <span style="color: white;">Mark all as read</span></button>
                        </div>
                    </div>

                    <app-cm-table [headArr]="headerArr" [isSearch]="isSearch" [gridArr]="listOfNotifications"
                        [totalRecords]="totalRecords" [totalPages]="totalPages" [perPage]="recordPerPage"
                        (pager)="onPager($event)" [collectionSize]="totalRecords"
                        (recordPerPage)="onRecordPageChange($event)" link="admin/add-zone" fieldName="id"
                        (searchWithId)="SearchWithId($event)" (search)="onPageSearch($event)"></app-cm-table>

                </div>

            </div>
        </div>
    </div>
</div>