<div class="container-scroller">

  <app-header *ngIf="loggedIn"></app-header>

  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid page-body-wrapper p-0" style="position: relative;">
        <app-sidebar *ngIf="loggedIn"></app-sidebar>
        <div class="grid"></div>
        <div class="bgGrid" style="width:100%; display:block;position:absolute; z-index: 4; height:100vh; top:1"></div>
        <div class="main-panel gradient-custom-2 aniamteBg main-div">

          <div class="content-wrapper p-0" style="position: relative;z-index: 4; background: transparent;">
            <router-outlet></router-outlet>
            <app-loader></app-loader>
          </div>
          <div class="row">
            <div class="col-md-10 card text-right" style="background: black;">
              <p style="color: white;">Copyright © 2024 CMS Computers Ltd. , All rights reserved.</p>
            </div>
            <div class="col-md-2 text-center" style="background: black;">
              <p style="color: white;">v{{ver}}</p>
            </div>
          </div>
          <!-- <app-footer  ></app-footer> -->
        </div>
      </div>
    </div>

  </div>

</div>

<!-- <div *ngFor="let message of messages">
    {{message}}
</div>

<input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
<button (click)="sendMessage()">Send</button> -->