<div class="p-4">
    <div class="row">

        <div class="col-xl-12  grid-margin" id="mediaList" style="height: 600px;">
            <div class="card  border-0">
                <div class="card-body p-2 bgTable" style="border-radius: 0 0;height:600px">


                    <div class="table-responsive" style="height:580px">
                        <table class="table table-striped text-center mb-0 table-light table-hover" id="vmsList"
                            datatable [dtOptions]="dtOptions">
                            <thead>
                                <tr>
                                    <th style="width:100px;text-align: center!important;"><input type="checkbox"
                                            [(ngModel)]="select_all" (ngModelChange)="onSelectAll($event)" /> <strong>
                                            Select All</strong> </th>
                                    <th class="text-center"> Header Name</th>
                                    <th class="text-center"> Menu Name</th>
                                    <th class="text-center"> All</th>
                                    <th class="text-center"> Add</th>
                                    <th class="text-center"> Update</th>
                                    <th class="text-center"> Remove</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let d of data">
                                    <td class="p-3"><input type="checkbox" [(ngModel)]="d.is_selected"
                                            [disabled]="d.is_Alldisabled"
                                            (ngModelChange)="onSingleSelectAll($event,d)" /></td>
                                    <td>{{d.headerMenuName}}</td>
                                    <td>{{d.childMenuName}}</td>
                                    <td class="p-3"><input type="checkbox" [(ngModel)]="d.is_allSelected"
                                            [disabled]="d.is_disabled" (ngModelChange)="onSelectAccessAll($event,d)" />
                                    </td>
                                    <td class="p-3"><input type="checkbox" [(ngModel)]="d.is_addselected"
                                            [disabled]="d.is_disabled"
                                            (ngModelChange)="onSelectAccess($event,d,'add')" /></td>
                                    <td class="p-3"><input type="checkbox" [(ngModel)]="d.is_updselected"
                                            [disabled]="d.is_disabled"
                                            (ngModelChange)="onSelectAccess($event,d,'upd')" /></td>
                                    <td class="p-3"><input type="checkbox" [(ngModel)]="d.is_delselected"
                                            [disabled]="d.is_disabled"
                                            (ngModelChange)="onSelectAccess($event,d,'del')" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" type="button" (click)="SubmitActionConfig()">
                Submit
            </button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger" type="button" (click)="CancelAction()">
                Cancel
            </button>
        </div>
    </div>
</div>