<div class="p-4">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary btn-rounded mb-1" (click)="BacktoList()">
                <!-- <span class="spinner-border spinner-border-sm me-1" ></span> -->
                <i class="icon-arrow-left"></i>
                Back To List
            </button>

            <div class="card">
                <form [formGroup]="form" #mediaform="ngForm">
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-4 form-group">
                                <label class="form-label lable-bold">Select Controller</label>
                                <input
                                type="text" formControlName="SelectedControllerId"
                                class="form-control form-control-sm" 
                                readonly />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-6 col-md-4 col">
                                <div class="mb-6 col form-group">
                                    <label class="form-label">Schedule Name*</label>
                                    <input type="text" formControlName="schedulename" [(ngModel)]="name"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': f['schedulename'].touched && f['schedulename'].errors}"
                                        placeholder="Enter Schedule Name" />
                                </div>
                                <div *ngIf="f['schedulename'].touched && f['schedulename'].errors , 'is-valid': f['schedulename'].valid "
                                    class="invalid-feedback">
                                    <div>{{getErrorMessage('schedulename','schedulename',true,"Invalid data available
                                        in Schedule Name")}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col">
                                <label class="form-label lable-bold">Select Media Player</label> 

                                <!-- <cm-multiselect-auto-complt [inputData]="_inputPlayerData" [label]="label2"
                                [dropdownSettings]="dropdownSettingsVms" formControlName="selectedMediaPlayer"
                                (selectedItem)="getSelectedVms($event,1)"
                                (deSelectedItem)="getSelectedVms($event,0)"></cm-multiselect-auto-complt> -->







                                <select class="form-control form-control-sm" formControlName="SelectedMediaPlayer">
                                    <option [ngValue]="null" disabled>Choose Media Player</option>
                                    <option *ngFor="let mediaplayer of _inputPlayerData.data" value="{{mediaplayer.value}}">{{mediaplayer.displayName}}</option>
                                </select> 




                            </div>
                            </div>
                        </div>
                       
                        
                    
                        <div class="row mb-2">
                            <div class="col-md-1"></div>
                            <label class="col-md-2 text-right mt-2">From Date: </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input formControlName="globalFromDt" appBlockCopyPaste
                                        (keypress)="keyPress($event)" class="form-control" placeholder="dd-mm-yyyy"
                                        name="dp" [minDate]="minDate" ngbDatepicker #dFromDatePub="ngbDatepicker" />
                                    <button class="btn btn-outline-primary border-primary"
                                        (click)="dFromDatePub.toggle()" type="button">
                                        <i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                            <ngb-timepicker formControlName="globalFromTm" [seconds]="true" class="col-4 float-left"
                                (focusout)="ValidateTime()" />

                        </div>
                        <div class="row mb-2">
                            <div class="col-md-1"></div>

                            <label class="col-md-2 text-right mt-2">To Date: </label>

                            <div class="col-md-4">
                                <div class="input-group">
                                    <input formControlName="globalToDt" appBlockCopyPaste (keypress)="keyPress($event)"
                                        class="form-control" placeholder="dd-mm-yyyy" name="dp" [minDate]="minDate"
                                        ngbDatepicker #dToDatePub="ngbDatepicker" />
                                    <button class="btn btn-outline-primary border-primary" (click)="dToDatePub.toggle()"
                                        type="button">
                                        <i class="fa fa-calendar"></i></button>
                                </div>
                            </div>

                            <ngb-timepicker formControlName="globalToTm" [seconds]="true" class="col-4 float-left"
                                (focusout)="ValidateTime()" />

                        </div>
  <!-- Customize button -->
                        <div class="row mb-3">
                            <div class="col-md-3 d-flex align-items-center ms-5">
                                <input type="checkbox" id="customizeToggle" [(ngModel)]="showCustomize"
                                  class="form-check-input me-2" />
                                <label for="customizeToggle" class="form-check-label">
                                    Customize
                                </label>
                            </div>
                        </div>

                       <div *ngIf="showCustomize">
                       
                        
                       


                    


                         <!-- DURATION -->
                         <div class="row mb-2">
                            <div class="col-md-1"></div>
                            <label class="col-md-2 text-right mt-2">Duration in Minutes:</label>
                            <div class="col-md-4">
                                <input type="number" class="form-control" formControlName="Duration"
                                    placeholder="Enter duration in minutes" min="1" />
                            </div>
                        </div>
                        <!-- Minutes Dropdown -->
                       <!-- <div class="row mb-2">
                        <div class="col-md-1"></div>
                        <label class="col-md-2 text-right mt-2">Minutes: </label>
                        <div class="col-md-4">
                            <select formControlName="selectedMinutes" class="form-control"  (change)="generateCron()" [(ngModel)]="selectedMinutes" >
                                <option value="*">-- Every Minute (*) --</option>
                                <option *ngFor="let min of minutesOptions" [value]="min.value">{{ min.display }}</option>
                            </select>
                        </div>
                    </div> -->

                      <!-- Hours Dropdown -->
                      <!-- <div class="row mb-2">
                        <div class="col-md-1"></div>
                        <label class="col-md-2 text-right mt-2">Hour(s): </label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select formControlName="startHour" class="form-control"
                                    (change)="generateCron()" [(ngModel)]="startHour">
                                     <option value="*">-- Every Hour (*) --</option> 
                                    <option *ngFor="let hr of hoursOptions" [value]="hr.value">{{ hr.display }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div> -->


  <!-- Days of the Week Dropdown -->

  <!-- <div class="row mb-2">
    <div class="col-md-1"></div>

    <label class="col-md-2 text-right mt-2">Day(s) of Week: </label>
    <div class="col-md-4">
        <cm-multiselect-auto-complt [inputData]="weekdaysselect"
            [dropdownSettings]="dropdownSettingsVms"
            (selectedItem)="getSelectedDays($event, 1); generateCron()"
            (deSelectedItem)="getSelectedDays($event, 0); generateCron()"
            (selectedAllItems)="getSelectedDays($event, 1); generateCron()"
            (deSelectedAllItems)="getSelectedDays($event, 0); generateCron()">>
        </cm-multiselect-auto-complt>
    </div>
</div> -->
<!-- cron display -->
<div class="row mt-5 justify-content-start">
    <div class="col-md-5 offset-md-3">
        <div class="card shadow-lg border-success">
            <div class="card-body text-center">
                <h5 class="card-title text-success">Generated Cron Expression</h5>
                <input type="text" readonly="true" formControlName="cronexpression"
                    class="card-text font-weight-bold text-dark text-center w-100" />
                <p class="card-text font-weight-bold text-dark">{{ humanReadableCron }}</p>
            </div>
        </div>
    </div>
</div>




 <!-- <p>Selected Days: {{ selectedDays | json }}</p>  -->
<!-- <div class="row mt-2">
    <div class="col-md-6 d-flex justify-content-end"> 
      <button class="btn btn-success px-4 py-2"  (click)="generateCron()" >Generate Cron</button>
    </div>
  </div> -->

</div>
        
  <!-- Display Generated Cron in a Styled Block -->
  <!-- <div class="row mt-5 justify-content-start">
    <div class="col-md-5 offset-md-3"> 
      <div class="card shadow-lg border-success">
        <div class="card-body text-center">
           <h5 class="card-title text-success">Generated Cron Expression</h5>
          <p class="card-text font-weight-bold text-dark">{{ cronExpression }}</p> 
          <p class="card-text font-weight-bold text-dark">{{ humanReadableCron }}</p>
        </div>
      </div>
    </div>
  </div> -->


 <!-- <div *ngIf="showScheduleOptions">
  <div class="row">
     <div class="mb-3 col">
     
        <button [disabled]="!this.form.valid" ngClass="btn btn-secondary" (click)="Getting_id()"
            style="width: 20%;" formControlName="SaveDetails" class="form-control">Save
            Details
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
        </button>

    </div> 
</div>
</div> -->
  
<!-- <div class="row mt-1">
    <div class="col-md-7 d-flex justify-content-end"> 
        <button class="btn px-4 py-2" 
                [ngClass]="showScheduleOptions ? 'btn-danger' : 'btn-success'" 
                (click)="toggleScheduleOptions()">
            {{ showScheduleOptions ? 'Cancel' : 'Change Schedule' }}
        </button>
    </div>
</div> -->

                </form>
            
            </div>
        </div>
    </div>
</div>