

<div id="maindiv">
    <div id="content">
        <!--top control start -->
        <div id="Top">
            <div id="topcontent">
                <div id="logo" class="coloumn">
                    <img src="../../../../assets/images/CMS-logo.png" alt="CMS" title="CMS" />
                </div>
                <!--search content start -->
                <!--search content eof -->
            </div>

        </div>
        <!--top control eof -->
        <!--middle content start -->
        <div id="middle">
            <div id="indexbanner" style="height:400px; text-align:center;">
                <img src="../../../../assets/images/404.jpg" height="100%" width="100%">
            </div>

        </div>
        <!--middle content eof -->
        <!--footer start -->

        <!--footer eof -->
    </div>
</div>

