<div class="p-4">
    <div class="row col-2">
        <button class="btn btn-primary btn-rounded mb-1" (click)="BacktoList()">
            <i class="icon-arrow-left"></i>
            Back To List
        </button>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class=" col-md-5 col-sm-5 col">
                                    <div class="mb-4 form-group">
                                        <label class="form-label lable-bold">Select Controller</label>
                                        <select *ngIf="_inputVmsData != undefined" [(ngModel)]="SelectedControllerId"
                                            class="form-control form-control-sm" (change)="getSelectedVms($event)">
                                            <option [ngValue]="null" disabled>Choose Controller</option>
                                            <option *ngFor="let type of _inputVmsData.data" [ngValue]="type.value">
                                                {{type.displayName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 col">
                                    <div class="mb-4 form-group">
                                        <label class="form-label lable-bold">Media Player Name*</label>
                                        <input type="text" formControlName="name" [(ngModel)]="MediaName"
                                            [ngClass]="{ 'is-invalid': f['name'].touched && f['name'].errors}"
                                            class="form-control" placeholder="Enter Media Player Name" />
                                        <div class="invalid-feedback">
                                            <div>{{getErrorMessage('name','name',true,"Invalid data
                                                available
                                                in Media Palyer Name")}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col">
                                    <div class="row">
                                        <div class="mb-3 col form-group">
                                            <label class="form-label lable-bold">Media Loop Count*</label>
                                            <input type="text" formControlName="mediaLoopCount" class="form-control"
                                                [ngClass]="{ 'is-invalid': f['mediaLoopCount'].touched && f['mediaLoopCount'].errors}"
                                                placeholder="Enter Media loop count" />
                                            <div class="invalid-feedback">
                                                <div>
                                                    {{getErrorMessage('mediaLoopCount','mediaLoopCount',true,"Invalid
                                                    data
                                                    available
                                                    in Media LoopCount")}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div formArrayName="tiles" *ngIf="currentTile != -1">

                                <div *ngFor="let user of userDetails.controls; let i = index"
                                    class="bordered-div mb-4 light-gray-div">
                                    <i class="fa fa-close" style="float: right; font-size:24px" aria-hidden="true"
                                        (click)="removeTiles(i)"></i>

                                    <div [formGroupName]="i">
                                        <div class="row">

                                            <div class="col-md-3 mb-2">
                                                <div class="form-group">
                                                    <label for="tileNo lable-bold">Tile No : </label>
                                                    <input type="number" id="tileNo" formControlName="tileNo" min="1"
                                                        class="form-control" (input)="checkValue($event)" />

                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="playlistLoopCount lable-bold">Playlist Loop
                                                        Count</label>
                                                    <input id="playlistLoopCount" type="number"
                                                        formControlName="playlistLoopCount" min="1"
                                                        (input)="checkValue($event)" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                                <button ngClass="btn btn-secondary" (click)="ShowMediaPopup('Media',i)"
                                                    style="margin-top:30px" class="btn-block">
                                                    <i class="fa fa-plus">&nbsp;&nbsp;Image</i>
                                                </button>
                                            </div>
                                            <div class="col-md-2">
                                                <button ngClass="btn btn-secondary" (click)="ShowMediaPopup('Text',i)"
                                                    style="margin-top:30px" class="btn-block">
                                                    <i class="fa fa-plus">&nbsp;&nbsp;Text</i>
                                                </button>
                                            </div>
                                        </div>


                                        <div class="TableHeader">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div
                                                            style="width: 2% !important;padding: 0 5px; margin: 0 15px;">
                                                            #
                                                        </div>
                                                        <div class="col" style="white-space: nowrap;">
                                                            File/Text Name
                                                        </div>
                                                        <div class="col">
                                                            Play Order
                                                        </div>
                                                        <div class="col text-center">
                                                            Duration
                                                        </div>
                                                        <div class="col text-center">
                                                            Loop Count
                                                        </div>
                                                        <div class="col text-center">
                                                            Party
                                                        </div>
                                                        <div class="col text-center">
                                                            Tariff
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row">


                                                        <div class="col text-center" style="white-space: nowrap;">
                                                            Font Size
                                                        </div>
                                                        <div class="col text-center" style="white-space: nowrap;">
                                                            Font Color
                                                        </div>
                                                        <div class="col text-center" style="white-space: nowrap;">
                                                            Bg Color
                                                        </div>

                                                        <div class="col text-center">
                                                            Action
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div style="width: 4% !important;padding: 0 5px;margin: 20px"></div>
                                                    <div class="col" ></div>
                                                    <div class="col"></div>
                                                    <div class="col text-center">
                                                        <input type="number" formControlName="duration"
                                                            *ngIf="registrationForm.controls['tiles'].controls[i].controls['playlist'].length != 0"
                                                            class="form-control"
                                                            style="padding-bottom: 4px;border-color: black;"
                                                            (blur)="ToAllDuration(i)" placeholder="To All" />
                                                    </div>
                                                    <div class="col text-center">
                                                        <input type="number" formControlName="mediaLoopCount"
                                                            *ngIf="registrationForm.controls['tiles'].controls[i].controls['playlist'].length != 0"
                                                            class="form-control"
                                                            style="padding-bottom: 4px;border-color: black;"
                                                            (blur)="ToAllLoop(i)" placeholder="To All" />
                                                    </div>
                                                    <div class="col">
                                                        <select class="form-control-sm" formControlName="partyIdCommon"
                                                        *ngIf="registrationForm.controls['tiles'].controls[i].controls['playlist'].length != 0"
                                                            (change)="ToAllParty(i)">
                                                            <option value="0">Select Party</option>
                                                            <option *ngFor="let prt of partyDetails" [value]="prt.id">
                                                                {{prt.partyName}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <select class="form-control-sm" formControlName="tarrifIdCommon"
                                                        *ngIf="registrationForm.controls['tiles'].controls[i].controls['playlist'].length != 0"
                                                            (change)="ToAllTarrif(i)">
                                                            <option value="0">Select Tarrif</option>
                                                            <option *ngFor="let trf of tarrifDetails" [value]="trf.id">
                                                                {{trf.tarrifType}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col text-center">
                                                        <input type="text" formControlName="fontSizeCommon"
                                                            *ngIf="registrationForm.controls['tiles'].controls[i].controls['playlist'].length != 0"
                                                            class="form-control"
                                                            style="padding-bottom: 4px;border-color: black;"
                                                            (blur)="ToAllFontSize(i)" placeholder="To All" />
                                                    </div>
                                                    <div class="col text-center">
                                                        <input [(colorPicker)]="colorFont"
                                                        *ngIf="registrationForm.controls['tiles'].controls[i].controls['playlist'].length != 0"
                                                            [style.background]="colorFont"
                                                            (colorPickerChange)="onChangeColor($event, 0, 0, 'fontColor','all')" 
                                                            type="text"
                                                            class="form-control" id="color-id" />
                                                    </div>
                                                    <div class="col text-center">
                                                        <input [(colorPicker)]="colorBg" [style.background]="colorBg"
                                                        *ngIf="registrationForm.controls['tiles'].controls[i].controls['playlist'].length != 0"
                                                        (colorPickerChange)="onChangeColor($event, 0, 0, 'backgroundColor','all')" 
                                                            type="text"
                                                            class="form-control" id="color-id" />
                                                    </div>
                                                    <div class="col"></div>
                                                </div>

                                            </div>
                                        </div>

                                        <div formArrayName="playlist">
                                            <div class="row" *ngFor="let row of getPlaylist(i).controls; let j = index"
                                                [formGroupName]="j">
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div
                                                            style="width: 2% !important;padding: 0 5px; margin: 0 15px;">
                                                            {{j+1}}
                                                        </div>

                                                        <div class="col" [hidden]="true">
                                                            <input type="text" formControlName="mediaId"
                                                                class="form-control input-box" />
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" [readonly]="true"
                                                                formControlName="mediaName"
                                                                class="form-control input-box" />
                                                        </div>
                                                        <div class="col text-center">
                                                            <input type="number" formControlName="playOrder" min="1"
                                                                (input)="checkValue($event)"
                                                                class="form-control input-box" />
                                                        </div>
                                                        <div class="col text-center">
                                                            <input type="number" formControlName="imageTextDuration"
                                                                min="1" (input)="checkValue($event)"
                                                                class="form-control input-box" placeholder="" />
                                                        </div>
                                                        <div class="col">
                                                            <input type="number" formControlName="videoLoopCount"
                                                                min="1" (input)="checkValue($event)"
                                                                class="form-control input-box" placeholder="" />
                                                        </div>
                                                        <div class="col">
                                                            <select class="form-control-sm" formControlName="partyId">
                                                                <option value="0">Select Party</option>
                                                                <option *ngFor="let prt of partyDetails"
                                                                    [value]="prt.id">{{prt.partyName}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col">
                                                            <select class="form-control-sm" formControlName="tarrifId">
                                                                <option value="0">Select Tarrif</option>
                                                                <option *ngFor="let trf of tarrifDetails"
                                                                    [value]="trf.id">{{trf.tarrifType}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" formGroupName="textStyle">
                                                    <div class="row">

                                                        <div class="col text-center">
                                                            <input type="number" formControlName="fontSize"
                                                                (input)="checkValue($event)"
                                                                [readonly]="isNameValid(row.get('mediaName')?.value)"
                                                                class="form-control input-box" placeholder="" />
                                                        </div>
                                                        <div class="col">
                                                            <!-- <input type="text" formControlName="fontColor"
                                                                [readonly]="isNameValid(row.get('mediaName')?.value)"
                                                                class="form-control input-box" placeholder="" /> -->

                                                            <input [(colorPicker)]="row.value.textStyle.fontColor"
                                                                formControlName="fontColor" type="text"
                                                                [style.background]="row.value.textStyle.fontColor"
                                                                (colorPickerChange)="onChangeColor($event, i, j, 'fontColor','individual')" 
                                                                class="form-control" [id]="'color-fc'+j" />
                                                        </div>
                                                        <div class="col">
                                                            <!-- <input type="text" formControlName="backgroundColor"
                                                                [readonly]="isNameValid(row.get('mediaName')?.value)"
                                                                class="form-control input-box" placeholder="" /> -->
                                                            <input [(colorPicker)]="row.value.textStyle.backgroundColor"
                                                            [style.background]="row.value.textStyle.backgroundColor"
                                                                formControlName="backgroundColor"
                                                                (colorPickerChange)="onChangeColor($event, i, j, 'backgroundColor','individual')" 
                                                                type="text" class="form-control" [id]="'color-bg'+j" />
                                                        </div>


                                                        <div class="col text-left">
                                                            <i class="fa fa-trash-o remove-media"
                                                                (click)="RemoveRow(i,j)"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-1">
                                                        <button class="btn btn-secondary"
                                                            *ngIf="registrationForm.controls['tiles'].controls[i].controls['playlist'].length != 0"
                                                            (click)="changeSequence(i,0,0)"
                                                            formControllName="isPlayOrder">
                                                            <svg width="16" height="16" fill="currentColor"
                                                                class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd"
                                                                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                                                            </svg>
                                                        </button>

                                                    </div>
                                                    <div class="col-md-1">
                                                        <button class="btn btn-secondary"
                                                            (click)="validateSequence(i,0)"
                                                            *ngIf="registrationForm.controls['tiles'].controls[i].controls['playlist'].length != 0">
                                                            <svg width="16" height="16" fill="currentColor"
                                                                class="bi bi-check-square" viewBox="0 0 16 16">
                                                                <path
                                                                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                                                <path
                                                                    d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <div class="col-md-2"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5 col-md-5 mb-3">
                                    <button type="button" (click)="addTile()" class="btn btn-primary">
                                        <i class="fa fa-plus">&nbsp;&nbsp;Tile</i>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6 col">
                                    <button ngClass="btn btn-success" *ngIf="ShowSaveBtn" [disabled]="!this.registrationForm.valid"
                                        (click)=" OnSavePlaylistDetails_new()" style="width: 45%"
                                        class="form-control">Save
                                        Details</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>